version: '3.7'

services:
  octoprint:
    hostname: octoprint
    restart: unless-stopped
    build:
        context: .
        dockerfile: Dockerfile.python2
    ports:
      - '5000:5000'
    volumes:
     - ./:/app
    environment:
        DEBUG: 'True'
        JANUS_SERVER: 'janus'
    depends_on:
      - janus
    command: bash -c "sleep 11111111111"

  octoprint_python3:
    hostname: octoprin_python3
    restart: unless-stopped
    build:
        context: .
        dockerfile: Dockerfile.python3
    ports:
      - '5001:5000'
    volumes:
     - ./:/app
    environment:
        DEBUG: 'True'
        JANUS_SERVER: 'janus'
    depends_on:
      - janus
    command: bash -c "sleep 11111111111"

  janus:
    hostname: janus
    restart: unless-stopped
    image: thespaghettidetective/janus:ubuntu
    #command: sh -c "/opt/janus/bin/janus --stun-server=stun.l.google.com:19302"
    command: sh -c "/opt/janus/bin/janus"
    ports:
      - '${EXPOSED_IP-127.0.0.1}:8188:8188'
      - '${EXPOSED_IP-127.0.0.1}:8009:8009'
      - '${EXPOSED_IP-127.0.0.1}:8004:8004'
  mjpeg:
    hostname: mjpeg
    restart: unless-stopped
    image: thespaghettidetective/mjpg-streamer
    ports:
      - '${EXPOSED_IP-127.0.0.1}:8080:8080'
    command: sh -c "/mjpg-streamer/mjpg_streamer -o '/mjpg-streamer/output_http.so -w /mjpg-streamer/www' -i '/mjpg-streamer/input_file.so -f /mjpg-streamer/jpgs -e -d 1'"

  video:
    restart: unless-stopped
    image: thespaghettidetective/ffmpeg:ubuntu
    command: bash -c "ffmpeg -f concat -re -i list.txt -c copy -bsf dump_extra -an -f rtp rtp://janus:8004?pkt_size=1300"
