include README.md
recursive-include octoprint_thespaghettidetective/templates *
recursive-include octoprint_thespaghettidetective/translations *
recursive-include octoprint_thespaghettidetective/static *
