include README.md
recursive-include octoprint_thespaghettidetective_beta/templates *
recursive-include octoprint_thespaghettidetective_beta/translations *
recursive-include octoprint_thespaghettidetective_beta/static *
