<div class="settings-wrapper">

  <!-- Initial page with choice - what settings page (tab) to open? -->
  <div class="choice-page" data-bind="visible: !showDetailPage()">
    <img class="settings-header" src="plugin/thespaghettidetective/static/img/settings-header.svg" alt="">
    <div class="settings-content">
      <div class="not-configured" data-bind="visible: !configured()">
        <div>
          <p>
            <i class="fa fa-exclamation" style="font-size: 48px;"></i>
          </p>
          <b>You haven't linked OctoPrint to your The Spaghetti Detective account!</b>
        </div>
        <a class="button primary" data-bind="click: showWizardModal">Run Setup Wizard to Link OctoPrint</a>
      </div>
      <div class="choice-wrapper" data-bind="visible: configured">
        <div class="choice-option" data-bind="click: function(data, event) { selectPage('advanced'); }">
          <a href="#" class="button btn-block">
            <span>Settings</span>
            <img src="plugin/thespaghettidetective/static/img/arrow-right.svg">
          </a>
          <ul class="squared-markers">
            <li>View linked printer name</li>
            <li>Premium webcam streaming</li>
            <li>Configure private TSD server</li>
            <li>Opt in error reporting</li>
          </ul>
        </div>
        <div class="choice-option" data-bind="click: function(data, event) { selectPage('troubleshooting'); }">
          <a href="#" class="button btn-block">
            <span>Troubleshooting</span>
            <img src="plugin/thespaghettidetective/static/img/arrow-right.svg">
          </a>
          <ul class="squared-markers">
            <li>Server connection status</li>
            <li>Webcam streaming issues</li>
            <li>Re-run setup wizard</li>
          </ul>
        </div>
      </div>
      <div class="help-link-section">
        <img src="plugin/thespaghettidetective/static/img/chat.svg" alt="">
        <div class="notes">
          Join <a href="https://discord.com/invite/NcZkQfj" target="_blank">our Discord server</a><br>
          Visit <a href="https://thespaghettidetective.com/" target="_blank">thespaghettidetective.com</a><br>
          Download the app through the <a href="https://play.google.com/store/apps/details?id=com.thespaghettidetective.android" target="_blank">Google Playstore</a> or <a href="https://apps.apple.com/us/app/the-spaghetti-detective/id1540646623?ign-itsct=apps_box&ign-itscg=30200" target="_blank">App Store</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Page with tabs at the top -->
  <div class="tabbable" data-bind="visible: showDetailPage()">
    <ul class="nav">
      <img src="plugin/thespaghettidetective/static/img/logo-white.svg" alt="" class="logo" data-bind="click: returnToSelection">
      <li data-page="advanced">
        <a href="#tsd-advanced" data-toggle="tab">
          <span>Settings</span>
        </a>
      </li>
      <li data-page="troubleshooting">
        <a href="#tsd-troubleshooting" data-toggle="tab">
          <span>Troubleshooting</span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tsd-advanced">
        <section>
          <h1 class="section-title">Linked Printer</h1>
          <div class="section-content" data-bind="visible: !linkedPrinter.id()">
            <div class="alert alert-warning" role="alert">
              Can't determine which TSD account this OctoPrint is linked to. Check to make sure your Rasbperry Pi is connected to the Internet. And refresh this page.
            </div>
          </div>
          <div class="section-content" data-bind="visible: linkedPrinter.id">
            <p>This OctoPrint is linked to <b data-bind="text: linkedPrinter.name"></b> in your TSD account.</p>
            <a data-bind="attr: { href: settingsViewModel.settings.plugins.thespaghettidetective.endpoint_prefix() + '/printers/' + linkedPrinter.id() + '/?source=plugin' }" target="_blank" class="btn">View/Change Settings (Login Required)</a>
          </div>
        </section>
        <section data-bind="visible: linkedPrinter.id">
          <h1 class="section-title">Premium Webcam Streaming</h1>
          <div class="section-content">
            <form class="form-horizontal">
              <div data-bind="visible: !linkedPrinter.is_pro()">
                <div class="alert alert-warning" role="alert">
                  Premium webcam streaming not eligible, for one of the following reasons:
                  <ul>
                    <li>Your The Spaghetti Detective account is a Free account. <a href="https://help.thespaghettidetective.com/kb/guide/en/pro-versus-basic-streaming-QHLFp22YVM/">Why is Free account not eligbile?</a></li>
                    <li>Your OctoPrint is not connected to the TSD server, hence the plugin can't fetch your account status.</li>
                  </ul>
                </div>
              </div>
              <div data-bind="visible: linkedPrinter.is_pro()">
                <div class="alert alert-warning" role="alert">
                  <h4>Restart required: </h4>
                  The changes to any of the following settings won't be effective until OctoPrint is restarted.
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="form-check" style="margin-top: 8px;">
                          <input id="disable-streaming" class="form-check-input" type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.thespaghettidetective.disable_video_streaming" style="margin-top: 0px;">
                          <label class="form-check-label" for="disable-streaming" style="display: inline">
                            Disable premium webcam streaming. <a href="https://help.thespaghettidetective.com/kb/guide/en/disable-premium-webcam-streaming-fBHNLEaXzQ/">(Why would I want to do that?)</a>
                          </label>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: (streaming.is_pi_camera() && !settingsViewModel.settings.plugins.thespaghettidetective.disable_video_streaming())" class="control-group" title="{{ _('Pi Camera resolution') }}">
                    <label class="control-label" for="pi-cam-resolution">{{ _('Resolution') }}</label>
                    <div class="controls">
                        <select data-bind="options: piCamResolutionOptions, optionsValue: 'id', optionsText: 'text', value: settingsViewModel.settings.plugins.thespaghettidetective.pi_cam_resolution" id="pi-cam-resolution"></select>
                    </div>
                </div>
                <div data-bind="visible: !settingsViewModel.settings.plugins.thespaghettidetective.disable_video_streaming()" class="control-group">
                    <label class="control-label">Compatibility mode<div><a href="https://help.thespaghettidetective.com/kb/guide/en/compatibility-mode-streaming-GaERh2rUjr/">(What is it?)</a></div></label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="webcamCompatibleModeGroup" value="auto" data-bind="checked: settingsViewModel.settings.plugins.thespaghettidetective.video_streaming_compatible_mode"> Automatic (default). TSD will automatically switch to compatibility mode if necessary. Select this option if you are not sure.
                        </label>
                        <label class="radio">
                            <input type="radio" name="webcamCompatibleModeGroup" value="always" data-bind="checked: settingsViewModel.settings.plugins.thespaghettidetective.video_streaming_compatible_mode"> Always stream in compatibility mode
                        </label>
                        <label class="radio">
                            <input type="radio" name="webcamCompatibleModeGroup" value="never" data-bind="checked: settingsViewModel.settings.plugins.thespaghettidetective.video_streaming_compatible_mode"> Never stream in compatibility mode
                        </label>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <section>
          <h1 class="section-title">The Spaghetti Detective Server</h1>
          <div class="section-content">
            <form class="form-horizontal">
              <div class="control-group">
                  <p>If you feel adventurous, head to <a href="https://github.com/TheSpaghettiDetective/TheSpaghettiDetective">our source code</a> and set up your own server. Then enter your Server Address below:</p>
                  <label class="control-label">{{ _('Server Address') }}</label>
                  <div class="controls">
                      <input type="text" class="span8 endpoint-prefix" data-bind="value: settingsViewModel.settings.plugins.thespaghettidetective.endpoint_prefix"></input>
                      <button class="btn" type="button" data-bind="click: resetEndpointPrefix">Restore Default</button>
                  </div>
              </div>
            </form>
          </div>
        </section>
        <section>
          <h1 class="section-title">Opt In</h1>
          <div class="section-content">
            <form class="form-horizontal">
              <div>Do you want to send anonymized error informtation to The Spaghetti Detective developers to help them improve the plugin?</div>
              <div class="form-check" style="margin-top: 8px;">
                <input id="sentry-opt" class="form-check-input" type="checkbox" value="" data-bind="checked: sentryOptedIn, click: toggleSentryOpt" style="margin-top: 0px;">
                <label class="form-check-label" for="sentry-opt" style="display: inline">
                  Yes I am in!
                </label>
              </div>
            </form>
          </div>
        </section>
      </div>

      <div class="tab-pane" id="tsd-troubleshooting">
        <section>
          <h1 class="section-title">Plugin Status</h1>
          <div class="section-content">
            <div class="test-connection-wrapper">
              <div class="section-panel plugin-status" data-bind="visible: !linkedPrinter.id()">
                <div class="error">
                  Plugin can't reach The Spaghetti Detective server. Press the "TEST" button to further diagnose the problem.
                </div>
              </div>
              <div class="section-panel plugin-status" data-bind="visible: linkedPrinter.id">
                <div class="status-line" data-bind="visible: linkedPrinter.is_pro">
                  <i class="fa fa-circle"></i>Account status: <span class="accountPro">Pro</span>
                </div>
                <div class="status-line" data-bind="visible: !linkedPrinter.is_pro()">
                  <i class="fa fa-circle"></i>Account status: Free
                </div>
                <div class="status-line">
                  <i class="fa fa-circle"></i>Webcam streaming: <span data-bind="text: streaming.premium_streaming() ? 'Premium (25fps)' : 'Basic', css: {accountPro: streaming.premium_streaming}"></span>
                </div>
                <div class="status-line success" data-bind="visible: !hasServerErrors()">
                  <i class="fa fa-circle"></i>Connection to server: Okay
                </div>
                <div class="status-line error" data-bind="visible: hasServerErrors()">
                  <i class="fa fa-circle"></i>Connection to server: <a href="#diagnosticReportModal" data-bind="click: showDiagnosticReportModal, text: serverStatus.is_connected() ? 'Error' : 'Disconnected'"></a>
                </div>
                <div class="status-line success" data-bind="visible: !hasWebcamErrors()">
                  <i class="fa fa-circle"></i>Connection to webcam: Okay
                </div>
                <div class="status-line error" data-bind="visible: hasWebcamErrors()">
                  <i class="fa fa-circle"></i>Connection to webcam: <a href="#diagnosticReportModal" data-bind="click: showDiagnosticReportModal">Error</a>
                </div>
              </div>
              <div style="height: 70px; border-right: gray solid thin;"></div>
              <div class="section-panel">
                  <h5 class="test-connection-header">Server Connection Test</h5>
              <div class="test-connection" style="padding-right: 18px;">
                <button class="circle" data-bind="click: testServerConnection">
                <span data-bind="visible: serverTested() != 'testing'">TEST</span>
                <i data-bind="visible: serverTested() == 'testing'" class="fa fa-spinner fa-spin" style="font-size: 40px;"></i>
                </button>
                <div class="test-result">
                  <div style="margin: 10px; display: flex; flex-direction: column; align-items: center;">
                    <div data-bind="visible: serverTested() == 'tested', css: {error: !serverTestSucceeded(), success: serverTestSucceeded()}" style="text-align: center;">
                      <i data-bind="css: {'fa-exclamation': !serverTestSucceeded(), 'fa-check': serverTestSucceeded()}" class="fa" aria-hidden="true" style="font-size: 24px;"></i>
                      <div data-bind="visible: serverTestStatusCode() == 200">
                      Succeeded!
                      </div>
                      <div data-bind="visible: serverTestStatusCode() == null">
                      Failed to contact server. Is OctoPrint connected to Internet?
                      </div>
                      <div data-bind="visible: serverTestStatusCode() == 401">
                      <div>Wrong account credentials.</div>
                      <div><a href="#" data-bind="click: showWizardModal">Re-run wizard</a> to link OctoPrint.</div>
                      </div>
                      <div data-bind="visible: serverTestUnknownError()">
                      Something went wrong. <a href="mailto:support@thespaghettidetective.com">Contact us</a> for help.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h1 class="section-title">Troubleshooting Tips</h1>
          <p>Make sure you have followed <a href="https://help.thespaghettidetective.com/kb/guide/en/setup-the-spaghetti-detective-using-the-web-app-dbCcgiR0Tr/">the setup guide</a> to link OctoPrint to your The Spaghetti Detective account successfully. Check out our <a href="https://help.thespaghettidetective.com/">help docs</a> for detailed troubleshooting guides.</p>
          <div class="section-content">
            <div class="collapsable">
              <h4 class="collapsable-title">
                Webcam streaming
                <span class="counter">4</span>
              </h4>
              <div class="collapsable-content">
                <h5>I'm getting laggy webcam streaming.</h5>
                <ul>
                  <li>If you have a free The Spaghetti Detective account and it's out of the free trial period, your webcam streaming will be 1 frame per 10 seconds. <a href="https://help.thespaghettidetective.com/kb/guide/en/premium-versus-basic-streaming-QHLFp22YVM/">25 frames per second webcam streaming is a premium feature for Pro accounts only.</a></li>
                  <li>Have you restarted OctoPrint and/or your Rasbperry Pi after upgrading to Pro account?</li>
                  <li>Make sure premium webcam streaming is not disabled in the "Settings" section.</li>
                </ul>
                <h5>Webcam streaming doesn't work.</h5>
                <ul>
                  <li>Basic webcam streaming (free account) is on only when you are printing. You won't see a webcam feed when the printer is idle.</li>
                  <li>However, premium webcam streaming is always on. If you have a Pro account, you should see webcam feed even if the printer is idle.</li>
                  <li>You need to make sure webcam URL is configured correctly in OctoPrint, and can be reached from your Raspberry Pi.</li>
                  <li>Check out <a href="https://help.thespaghettidetective.com/kb/guide/en/webcam-stream-not-working-7vXt6svTCe/">the detailed help document</a>.</li>
                </ul>
                <h5>I got a warning that says "switched to basic streaming".</h5>
                <ul>
                  <li>This warning means the premium streaming process failed to start. You will only get the basic streaming, if your account is eligible for the 25fps premium streaming. If you have a Pro account, you can <a href="mailto:support@thespaghettidetective.com">get help from the TSD team</a>.</li>
                </ul>
                <h5>I got a warning that says "streaming uses excessive CPU".</h5>
                <ul>
                  <li>If you have set streaming compability mode to "always", please set it back to "auto".</li>
                  <li>If you have to always stream in compability mode, set webcam resolution to 640x480, fps to 10. Then restart the Pi.</li>
                  <li>Learn more about <a href="https://help.thespaghettidetective.com/kb/guide/en/compatibility-mode-streaming-GaERh2rUjr/">the streaming compability mode</a>.</li>
                </ul>
              </div>
            </div>
            <div class="collapsable">
              <h4 class="collapsable-title">
                Failure detection
                <span class="counter">2</span>
              </h4>
              <div class="collapsable-content">
                <h5>I got a spaghetti alert but there was nothing wrong.</h5>
                <ul>
                  <li>This happens because The Detective is not perfect at her job yet.  <a href="https://help.thespaghettidetective.com/kb/guide/en/help-the-detective-improve-PVq4Iul0df/">Help her improve.</a></li>
                </ul>
                <h5>The Detective is "not watching".</h5>
                <ul>
                  <li>The Detective is not detecting when your printer is not printing.</li>
                  <li>You have left "watching for failures" off.</li>
                  <li>The plugin has trouble connecting to The Spaghetti Detective server</li>
                  <li><a href="https://help.thespaghettidetective.com/kb/guide/en/frequently-asked-questions-about-detective-hours-BppBsHx1uZ/Steps/299775,299783">You have run out of Detective Hours</a>.</li>
                </ul>
              </div>
            </div>
            <div class="collapsable">
              <h4 class="collapsable-title">
                Other problems
                <span class="counter">2</span>
              </h4>
              <div class="collapsable-content">
                <h5>My OctoPrint is running, but the page shows "OctoPrint is offline".</h5>
                <ul>
                  <li>Your Rasbperry Pi may have issue connecting to the internet. Check the connection status on this page for errors.</li>
                  <li>The credentials established in the process of linking OctoPrint to your account may have been lost or corrupted. For instance, if you have re-installed OctoPrint, or have a corrupted SD card.</li>
                  <li>As the last resort, you re-run the setup wizard (below) to re-establish the credentials to link OctoPrint to your account.</li>
                </ul>
                <h5>Help! The web page doesn't seem to work correctly.</h5>
                <ul>
                  <li>It's almost always a good idea to just try "hard-refreshing" the page. Here is <a href="https://en.scratch-wiki.info/wiki/Help:Hard_Refresh">how you hard-refresh a page</a>.</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h1 class="section-title">Re-run Setup Wizard</h1>
          <div class="section-content">
            <div>
            If you can no longer log into your The Spaghetti Detective account, e.g., you don't remember what email you signed up with, you can re-run the setup wizard to link your OctoPrint with a new The Spaghetti Detective account.
            </div>
            <div>
              <a href="#" class="button rerun-wizard" data-bind="click: showWizardModal">Re-run Wizard</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>


<!-- Modals -->
<div id="wizardModal" class="modal hide fade secondary-modal" tabindex="-1" role="dialog" aria-labelledby="wizardModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="wizardModalLabel">The Spaghetti Detective Setup Wizard</h3>
  </div>
  <div class="modal-body" data-bind="allowBindings: false">
    <div class="alert alert-warning" role="alert">
      You are re-linking OctoPrint to your TSD account. Don't forget to <strong>restart OctoPrint</strong> when you are done.
    </div>
    {% include "thespaghettidetective_wizard.jinja2" %}
  </div>
</div>

<div id="diagnosticReportModal" class="modal hide fade secondary-modal" tabindex="-1" role="dialog" aria-labelledby="diagnosticReportModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="diagnosticReportModalLabel">The Spaghetti Detective Diagnostic Report</h3>
  </div>
  <div class="modal-body">
    <i>*Note: This report is to diagnostic information for potential problems in <b>Access Anywhere - The Spaghetti Detective</b> plugin. It is not a diagnosis for your print failures.</i>
    <br /><br />
    <b class="text-success" data-bind="visible: !hasServerErrors() && !hasWebcamErrors()">
      There have been no errors since last time OctoPrint rebooted.
    </b>
    <b class="text-error" data-bind="visible: hasServerErrors() || hasWebcamErrors()">
      The Spaghetti Detective plugin has run into issues. These issues may have prevented The Detective from watching your print effectively. Please check out our <a href="https://help.thespaghettidetective.com/kb/guide/en/troubleshoot-connectivity-issues-in-the-diagnostic-report-Yz9GM534eV/">trouble-shooting page</a> or <a href="https://help.thespaghettidetective.com/kb/guide/en/get-help-from-a-human-73peWqWu78/">reach out to us</a> for help.
    </b>
    <div data-bind="visible: hasServerErrors()">
      <hr />
      <p class="text-error">
        The plugin has failed to connect to the server <b data-bind="text: errorStats.server.error_count"></b> times (error rate <b data-bind="text: serverErrorRate() + '%'"></b>) since OctoPrint rebooted.
      </p>
      <ul>
        <li>The first error occurred at: <b data-bind="text: new Date(errorStats.server.first())"></b>.</li>
        <li>The most recent error occurred at: <b data-bind="text: new Date(errorStats.server.last())"></b>.</li>
        <li data-bind="visible: serverStatus.status_posted_to_server_ts">The most recent attempted server contact occurred at: <b data-bind="text: new Date(serverStatus.status_posted_to_server_ts())"></b>.</li>
      </ul>
      <p>
        Please go to "Settings" -> "Webcam & Timelapse" and make sure the stream URL and snapshot URL are set correctly.
      </p>
    </div>
    <div data-bind="visible: hasWebcamErrors()">
      <hr />
      <p class="text-error">
        The plugin has failed to connect to the webcam <b data-bind="text: errorStats.webcam.error_count"></b> times (error rate <b data-bind="text: webcamErrorRate() + '%'"></b>) since OctoPrint rebooted.
      </p>
      <ul>
        <li>The first error occurred at: <b data-bind="text: new Date(errorStats.webcam.first())"></b>.</li>
        <li>The most recent error occurred at: <b data-bind="text: new Date(errorStats.webcam.last())"></b>.</li>
      </ul>
      <p>
        Please go to "Settings" -> "Webcam & Timelapse" and make sure the stream URL and snapshot URL are set correctly.
      </p>
    </div>
  </div>
</div>


