<div class="header">
    <img class="logo pull-left" src="/plugin/thespaghettidetective/static/img/logo-square.png" /> <h3>The Spaghetti Detective</h3>
    <p><a href="https://thespaghettidetective.com/" target="_blank">The Spaghetti Detective</a> is <strong>open source project</strong> for 3D printing remote monitoring. It uses AI (Deep Learning) to detect print failures in real time and alerts you about them.</p>
</div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#setup" data-toggle="tab">Setup</a></li>
    <li><a href="#advanced" data-toggle="tab">Advanced Settings</a></li>
    <li><a href="#problems" data-toggle="tab">Got Problems?</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="setup">
        <h5>Step 1: <a href="https://app.thespaghettidetective.com/accounts/signup/" target="_blank">Sign up</a> an account.</h5>
        <p>Be sure to check our <a href="https://thespaghettidetective.com/privacy.html" target="_blank">Privacy Policy</a> and <a href="https://thespaghettidetective.com/terms.html" target="_blank">Terms of Use</a>.</p>
        <h5>Step 2: Add a printer in The Spaghetti Detective and obtain its secret token.</h5>
        <div>Secret token is the key that makes sure only you can access data in your account, not anyone else.</div>
        <h5>Step 3: Copy the secret token to the box below.</h5>
        <form class="form-horizontal">
            <div>If you have problem locating the secret token, click <a data-bind="attr: { href: settingsViewModel.settings.plugins.thespaghettidetective.endpoint_prefix() + '/printer_auth_token/0/' }" target="_blank">here</a>.</div>
            <div class="input-append token-input">
                <input type="text" class="input-block-level auth-token-input" data-bind="value: settingsViewModel.settings.plugins.thespaghettidetective.auth_token">
                <button class="btn test-auth-token" type="button"><i class="fa fa-spinner fa-spin" style="display: none;"></i> Test</button>
            </div>
            <div class="std-api-status">&nbsp; </div>
        </form>
        <div class="settings-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZpDw9mNBngU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="tab-pane" id="advanced">
        <form class="form-horizontal">
        <h3>Server</h3>
        <div class="control-group">
            <p>If you feel adventurous, head to <a href="https://github.com/TheSpaghettiDetective/TheSpaghettiDetective">our source code</a> and set up your own server. Then enter your Server Address below:</p>
            <label class="control-label">{{ _('Server Address') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level endpoint-prefix" disabled data-bind="value: settingsViewModel.settings.plugins.thespaghettidetective.endpoint_prefix">
                <div class="form-check" style="margin-top: 8px;">
                  <input class="form-check-input custom-server" type="checkbox" value="" style="margin-top: 0px;">
                  <label class="form-check-label" for="custom-server" style="display: inline">
                    I have my own TSD server (don't check this unless you know what you are doing).
                  </label>
                </div>
            </div>
        </div>
        <br />
        <h3>Webcam Streaming</h3>
        <div class="control-group">
            <div class="controls">
                <div class="form-check" style="margin-top: 8px;">
                  <input class="form-check-input custom-server" type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.thespaghettidetective.disable_video_streaming" style="margin-top: 0px;">
                  <label class="form-check-label" for="custom-server" style="display: inline">
                    Disable webcam streaming (<a href="https://www.thespaghettidetective.com/docs/webcam-feed-is-laggy/">Why would I want to do that?</a>). <span style="color: red">Restart required.</span>
                  </label>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="tab-pane" id="problems">
        Here are a few things you can try in case you run into problems:
        <ul>
            <li>Check out the <a href="https://www.thespaghettidetective.com/docs/octoprint-setup/" target="_blank">Setup Guide</a> and be sure to follow the steps there.</li>
            <li>Hard-refresh this page and try again. Here is <a href="https://en.scratch-wiki.info/wiki/Help:Hard_Refresh">how you hard-refresh a page</a>.</li>
            <li><button type="button" class="btn" data-bind="click: openErrorTrackerModal">Open Diagnostic Report (New!)</button></li>
            <li><a href="https://www.thespaghettidetective.com/docs/support/">Contact us</a> for help!</li>
        </ul>
    </div>
  </div>
</div>
