@primary-color: #9965F4;
@error-color: #d9534f;
@success-color: #5cb85c;
@text-color: #282828;
@paragraph-text-size: 14px;
@container-min-height: 625px;

// General styles

.tsd-button {
  background-color: @primary-color;
  padding: 10px 26px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none !important;
  border-radius: 100px;
  display: inline-block;
  margin: 12px 0 6px;
  border: none;

  &:hover {
    opacity: .8;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: .4;

    &:hover {
      opacity: .4;
      cursor: default;
    }
  }
}

.tsd-flex {
  display: flex;

  &.tsd-col {
    flex-direction: column;
  }

  &.tsd-align-center {
    align-items: center;
  }

  &.tsd-justify-center {
    justify-content: center;
  }
}

// API call animation
.tsd-saving-in-progress, .tsd-successfully-saved, .tsd-error-occurred {
  @indicatorSize: 18px;
  display: inline-block;

  &:before {
    content: "";
    background-size: @indicatorSize @indicatorSize;
    width: @indicatorSize;
    height: @indicatorSize;
    display: block;
    position: absolute;
    top: 7px;
    right: -(@indicatorSize + 8px);
    margin: auto;
    z-index: 9;
  }

  &.tsd-saving-in-progress {
    position: relative;
  }

    &:before {
      background-image: url('../img/tail-spin.svg');
    }

  &.tsd-successfully-saved {
    position: relative;

    &:before {
      background-image: url('../img/tick.svg');
    }
  }

  &.tsd-error-occurred {
    position: relative;

    &:before {
      background-image: url('../img/cross.svg');
    }
  }
}

// Hideble mini-section
.tsd-collapsable {
  margin-left: 25px;

  .tsd-collapsable-title {
    font-size: 20px;
    border-bottom: 1px solid #757575;
    position: relative;

    &:before {
      content: url(../img/toggle-arrow.svg);
      width: 10px;
      position: absolute;
      top: 0;
      left: -25px;
    }

    .tsd-counter {
      font-weight: normal;

      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }

  .tsd-collapsable-content {
    height: 0;
    overflow: hidden;
  }

  &:hover {
    .tsd-collapsable-title {
      opacity: .8;
      cursor: pointer;
    }
  }

  &.opened {
    .tsd-collapsable-title {
      &:before {
        transform: rotate(90deg);
      }
    }

    .tsd-collapsable-content {
      height: auto;
    }
  }
}

// Wizard content

.tsd-wizard-content {
  font-family: 'Roboto', sans-serif;
  padding-right: 18px;
  overflow: hidden;
  position: relative;

  // Wizards with big logo as a background
  &.tsd-bg-logo {
    background-image: url(../img/logo-bg.svg);
    background-repeat: no-repeat;
    background-position: -250px 0px;
    background-size: 500px;

    &.tsd-bg-primary {
      background-image: url(../img/logo-bg-dark.svg);
    }
  }

  &.tsd-bg-primary {
    background-color: @primary-color;
    color: #fff;

    .tsd-navigation .tsd-back-btn {
      color: #fff;
    }
  }

  // Main elements
  p {
    font-size: @paragraph-text-size;
  }

  ul {
    margin-top: 20px;
    list-style-type: square;

     li {
       margin-bottom: 4px;
     }

     a {
       color: @text-color;
     }
  }

  a {
    color: @primary-color;
    text-decoration: underline;

    &:hover {
      opacity: .8;
    }
  }

  .tsd-indent-content {
    padding-left: 80px;
  }

  // Header at the top of each page
  .tsd-navigation {
    height: 54px;
    display: flex;
    align-items: bottom;
    justify-content: space-between;

    // Back button
    .tsd-back-btn {
      text-decoration: none;
      font-size: 18px;
      color: #888;

      &:hover {
        opacity: .8;
        cursor: pointer;
      }

      img {
        width: 10px;
        height: 20px;
      }
    }

    // Small black logo
    .tsd-logo {
      text-align: center;

      svg {
        width: 44px;
      }
    }

    // Progress circles at the top right corner
    .tsd-progress-content {
      text-align: center;

      .tsd-circles {
        font-size: 0;

        .tsd-circle {
          width: 16px;
          height: 16px;
          display: inline-block;
          border: 2px solid @primary-color;
          border-radius: 50%;
          position: relative;
          margin-right: 18px;

          &.filled {
            background-color: @primary-color;
          }

          &.checked:before {
            content: url("../img/checkmark-half-filled.svg");
            display: inline-block;
            width: 19px;
            height: 15px;
            position: absolute;
            bottom: 40%;
            left: 40%;
          }

          &:after {
            content: "";
            width: 18px;
            height: 2px;
            background-color: @primary-color;
            position: absolute;
            left: calc(100% + 2px);
            top: calc(50% - 1px);
          }

          &:last-child {
            margin-right: 0;

            &:after {
              content: none;
            }
          }
        }
      }
    }
  }


  // Main style for buttons

  // Wizard title
  .tsd-header {
    margin: 4px 0 10px 0;
  }

  // Text with checkbox
  .tsd-text-with-checkbox {
    padding-left: 22px;
    position: relative;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    .tsd-checkbox-wrapper {
      width: 10px;
      height: 10px;
      border: 1px solid @primary-color;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 1px;
      margin: auto;

      &.checked:after {
        content: url(../img/checkmark.svg);
        display: block;
        position: absolute;
        width: 15px;
        height: 12px;
        bottom: 4px;
        left: 1px;
      }
    }
  }

  // Features block
  .tsd-features {
    margin: 32px 0px;
    overflow: hidden;
    width: 100%;
    height: 82px;
    position: relative;
    box-sizing: border-box;

    .tsd-features-blocks {
      width: 100%;
      position: relative;

      .tsd-feature {
        padding-left: 90px;
        min-height: 64px;
        position: absolute;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        top: 0;
        left: -100%;

        &[data-number="1"] {
          left: 0;
        }

        &[data-number="2"] {
          left: 100%;
        }


        .tsd-feature-text {
          min-height: 64px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .tsd-title {
            font-weight: bold;
            font-size: 18px;
            color: @primary-color;
          }

          .tsd-description {
            margin: 0;
            margin-top: 4px;
            font-size: 15px;
          }
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%;
          width: 60px;
          border: 2px solid @primary-color;
        }
      }
    }

    @media screen and (max-width: 800px) {
      & {
        height: 130px;
      }
    }

    @media screen and (max-width: 700px) {
      & {
        .tsd-description {
          font-size: 13px;
          line-height: 1.25;
        }
      }
    }

    @media screen and (max-width: 600px) {
      & {
        height: 200px;

        .tsd-title {
          font-size: 15px;
          line-height: 1;
        }
      }
    }
  }

  .tsd-get-started {
    margin: 20px 0;

    .tsd-button {
      font-weight: bolder;
    }
  }

  // Choice between mobile and web (step 2)
  .tsd-choice-container {
    background-color: @primary-color;
    padding: 18px;

    .tsd-choice-banner {
      display: flex;
      justify-content: center;
      align-items: center;

      .tsd-delimeter {
        background-color: #fff;
        width: 3px;
        height: 200px;
      }

      .tsd-option {
        text-align: center;
        margin: 30px 30px;
        color: #fff;

        &:hover {
          cursor: pointer;
        }

        h2 {
          color: #fff;
        }

        .tsd-button {
          color: @primary-color;
          background-color: #fff;

          &.tsd-filled {
            color: @primary-color;
            background-color: #fff;
          }

          &.tsd-outline {
            background-color: @primary-color;
            color: #fff;
            border: 2px solid #fff;
          }
        }
      }

      @media screen and (max-width: 800px) {
        flex-direction: column;

        .tsd-delimeter {
          width: 80%;
          height: 3px;
        }
      }
    }
  }

  // Footer notes
  .tsd-notes {
    color: #fff;
    text-align: center;

    &.tsd-primary {
      background-color: @primary-color;
      color: #fff;
      margin-top: 60px;
      padding: 18px;
      text-align: center;
    }

    &.tsd-text-black {
      color: @text-color;
    }
  }

  // Setup illustration at the bottom (step 3.1 - mobile)
  .tsd-bottom-illustration {
    background-color: @primary-color;
    display: flex;
    margin-top: 40px;
    padding: 40px 40px 0;
    align-items: flex-end;
    justify-content: space-around;

    & .tsd-mobile-screen {
      width: 60%;
    }

    .tsd-mobile-links {
      width: 25%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .tsd-qr {
        width: 100%;
      }

      .tsd-buttons {
        display: flex;
        justify-content: space-between;

        a.tsd-button {
          padding: 0;
          width: 45%;
        }
      }
    }

    @media screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;

      & .tsd-mobile-screen {
        width: 300px;
        max-width: 100%;
      }

      .tsd-mobile-links {
        order: -1;
        margin-bottom: 50px;
        width: 200px;
        max-width: 100%;
      }
    }

    @media screen and (max-width: 450px) {
      .tsd-google, .tsd-apple {
        flex-direction: column;
      }
    }
  }

  // Small gray link with arrow under title (step 3)
  .tsd-small {
    font-size: 14px;
    color: #9793A0;
    line-height: 14px;
    text-decoration: none;

    &:hover {
      opacity: .8;
    }
  }

  // Big checkmark in the circle (final step)
  .tsd-checkmark-circle {
    width: 115px;
    margin-bottom: 20px;
  }

  // List with circled checkmarks markers
  ul.tsd-circled-checkmarks {
    font-size: 18px;
    list-style-type: none;

    li {
      margin-bottom: 6px;

      div {
        display: inline-block;
      }

      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }

  // Link to discord at the bottom (final step)
  .tsd-discord-link {
    text-decoration: none;
    margin: 50px 20px 20px;
    display: inline-block;

    img {
      width: 30px;
    }

    .tsd-text {
      display: inline-block;
      margin-left: 8px;
      border-bottom: 1px solid #fff;
      font-weight: bold;
      color: #fff;
    }

    &:hover {
      opacity: .8;

      .tsd-text {
        border-bottom: none;
      }
    }
  }

  // Verification code page (step 4)
  .tsd-mobile-verification-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    // Left content - text and input
    .tsd-description {
      @input-width: 240px;
      @cell-border-width: 2px;
      margin-top: 10px;

      p {
        width: @input-width + @cell-border-width * 5;
        margin-bottom: 30px;
      }

      // Input for security code
      .tsd-verification-wrapper {
        label {
          font-weight: bold;
        }

        .tsd-input-wrapper {
          width: @input-width + @cell-border-width * 5;
          height: 20px;
          display: flex;
          border: 2px solid #000;
          border-radius: 10px;
          background-color: #fff;
          overflow: hidden;
          padding: 10px 0;
          position: relative;
          text-align: center;
          box-sizing: content-box;

          // Cells of input wrapper
          input {
            box-shadow: none;
            width: @input-width / 6 - 2px;
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 0;
            padding-left: 2px;
            height: 100%;
            border-right: @cell-border-width solid rgba(#000, .5);
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #000;
            background-color: #fff;
            box-sizing: content-box;

            &:focus {
              box-shadow: none;
              outline: none;
            }

            &:last-child {
              border-right: none;
            }
          }
        }

        textarea.tsd-paste-from-clipboard-placeholder {
          border: none;
          margin: 0;
          padding: 0;
          width: 1px;
          height: 1px;
          opacity: 0;
        }

        .tsd-error-message, .tsd-success-message, .tsd-unknown-error {
          margin-top: 10px;
          line-height: 1.25;
          display: none;
        }

        &.error {
          .tsd-input-wrapper {
            border-color: @error-color;

            input {
              border-color: rgba(@error-color, .5);
            }
          }

          .tsd-error-message {
            display: block;
            color: @error-color;
          }
        }

        &.success {
          .tsd-input-wrapper {
            border-color: @success-color;

            input {
              border-color: rgba(@success-color, .5);
            }
          }

          .tsd-success-message {
            display: block;
            color: @success-color;
          }
        }

        &.unknown {
          .tsd-unknown-error {
            display: block;
            color: @error-color;
          }
        }

        .tsd-loader {
          width: @input-width;
          text-align: center;

          svg {
            width: 60px;
            height: 60px;
            display: inline-block;
          }
        }
      }
    }


    // Right content - mobile screen illustration
    .tsd-illustration {
      width: 180px;
      position: relative;

      .tsd-image {
        display: inline-block;
        width: 100%;
      }

      .tsd-arrow {
        position: absolute;
        bottom: 40%;
        right: 83%;
        width: 90%;
        display: block;
        z-index: 12;
        transform: rotate(20deg);

        @media screen and (max-width: 980px) {
          width: 80%;
          bottom: 41%;
        }

        @media screen and (max-width: 960px) {
          width: 70%;
          bottom: 42%;
        }

        @media screen and (max-width: 940px) {
          width: 60%;
          bottom: 43%;
        }

        @media screen and (max-width: 920px) {
          width: 50%;
          bottom: 43%;
        }

        @media screen and (max-width: 900px) {
          display: none;
        }
      }
    }

    // Hide mobile screen illustration on small screens
    @media screen and (max-width: 800px) {
      flex-direction: column;

      .tsd-description {
        width: 100%;

        p {
          width: 100%;
        }

        .tsd-verification-wrapper {
          margin-top: 40px;
        }
      }

      .tsd-illustration {
        max-width: 200px;
        margin: 30px 0;
      }
    }
  }

  // Last step - setup printer's name
  .tsd-successful-setup {
    .tsd-title {
      text-align: center;
      padding-bottom: 28px;
    }

    .tsd-sub-title {
      padding: 0px 48px 22px;
      text-align: center;
      max-width: 450px;
    }

    .tsd-auto-close {
      position: relative;
      width: 100px;
      height: 100px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;

      .tsd-text {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        line-height: 100px;
        left: 0;
        top: 0;
        font-size: 1.125rem;
        border-radius: 100%;
        background-color: #fff;
        color: @primary-color;
        text-transform: uppercase;
        font-weight: bold;
      }

      .tsd-progress-border {
        position: absolute;
        z-index: 0;
        vertical-align: middle;
        width: 120px;
        height: 120px;
        left: -10px;
        top: -10px;
        transform: rotate(-90deg);

        .tsd-under {
          stroke: #fff;
          fill: none;
        }

        .tsd-progress {
          /*
            2 * π * r = 2 * 3.141592 * 21 = 131.526864
            do not use 'calc(2 * 3.141592 * 21)' - it doesn't work in Firefox
          */
          stroke-dasharray: 131.526864;
          stroke-dashoffset: 131.526864;
          stroke: lighten(@primary-color, 20%);
          transition: all 10s linear;
          fill: none;
        }
      }

      &.active {
        .tsd-progress {
          stroke-dashoffset: 0;
        }
      }
    }

  }
}


html.themeify {
  // Hide by default (for unknown themes)
  .tsd-wizard-content .tsd-bg-logo {
    background-image: none;
  }

  // Light background themes
  &.material_ui_light, &.dyl {
    .tsd-wizard-content.tsd-bg-logo {
      background-image: url(../img/logo-bg.svg);
    }
  }

  // Dark background themes
  &.discorded, &.cyborg, &.discoranged, &.nighttime {
    .tsd-wizard-content.tsd-bg-logo {
      background-image: url(../img/logo-bg-dark.svg);
    }
  }
}

// Settings content

.tsd-settings-wrapper {
  font-family: 'Roboto', sans-serif;

  // Main styles

  ul {
    &.tsd-squared-markers {
      list-style-type: square;
      font-size: 18px;
      margin-top: 10px;
      padding-left: 10px;
    }
  }

  // First page with choice of setting tabs

  .tsd-settings-header {
    width: 100%;
    margin-bottom: 30px;
  }

  .tsd-choice-wrapper {
    display: flex;
    justify-content: space-between;

    .tsd-choice-option {
      flex: 0 0 42%;
      transition: color .3s ease-out;

      .tsd-button {
        border-radius: 100px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        border: 3px solid @primary-color;
        color: @primary-color;
        background: none;
        position: relative;

        img {
          width: 20px;
          position: absolute;
          right: 10px;
          opacity: 0;
          transition: opacity .3s ease-out;
        }
      }

      &:hover {
        color: @primary-color;
        cursor: pointer;

        .tsd-button {
          background-color: @primary-color;
          color: #fff;
          opacity: 1;

          img {
            opacity: 1;
          }
        }
      }
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;

      .tsd-choice-option {
        flex-basis: 100%;
      }
    }
  }

  .tsd-not-configured {
    text-align: center;
    i {
      color: @error-color;
    }
  }

  .tsd-help-link-section {
    display: flex;
    margin-top: 90px;
    font-size: 15px;
    align-items: center;

    img {
      margin-right: 20px;
    }
  }

  // // Container with tabs
  .tabbable {
    // Navigation tabs
    ul.nav {
      // from bootstrap
      line-height: 20px;
      list-style: none;
      &:before, &:after {
        display: table;
        line-height: 0;
        content: "";
      }
      &:after {
        clear: both;
      }

      background-color: @primary-color;
      margin: 0;
      padding: 8px 0 0 116px;
      border: none;
      position: relative;
      border-bottom: 8px solid #fff;

      // White logo at the left side on navigation panel
      .tsd-logo {
        display: block;
        width: 60px;
        height: 30px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 30px;
        margin: auto;

        &:hover {
          cursor: pointer;
          opacity: .8;
        }
      }

      // Tab
      li {
        float: left;
        margin: 0 5px 0 0;
        position: relative;
        top: 8px;

        a {
          margin: 0;
          text-decoration: none;
          border: none;
          display: block;
          padding: 5px 30px;
          border-radius: 10px 10px 0 0;
          background-color: #B9A0EF;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
          transition: font-size .1s;
          position: relative;

          &:hover {
            opacity: .8;
          }

          &:before, &:after {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;
          }

          &:after {
            right: -20px;
            border-radius: 0 0 0 10px;
            box-shadow: -10px 0 0 0 #B9A0EF;
          }

          &:before {
            left: -20px;
            border-radius: 0 0 10px 0;
            box-shadow: 10px 0 0 0 #B9A0EF;
          }
        }

        // Active tab
        &.active {
          z-index: 2;
          top: 0;

          a {
            color: @primary-color;
            background-color: #fff;
            padding-top: 12px;
            padding-bottom: 1px;
            font-size: 18px;

            span {
              display: inline-block;
              // border-bottom: 2px solid @primary-color;
              padding: 0 0 5px;
            }

            &:hover {
              opacity: 1;
            }

            &:after {
              box-shadow: -10px 0 0 0 #fff;
            }

            &:before {
              box-shadow: 10px 0 0 0 #fff;
            }
          }
        }
      }
    }

    // Mobile adaptation
    @media screen and (max-width: 850px) {
      ul.tsd-nav {
        padding-top: 10px;
        padding-right: 20px;

        // Tab
        li {
          position: static;
          margin-bottom: 10px;
          float: none;

          a {
            padding: 5px 20px;
            border-radius: 10px;

            &:before, &:after {
              content: none;
            }
          }

          // Active tab
          &.tsd-active {
            a {
              font-size: 16px;

              span {
                border-bottom: none;
                padding-bottom: 10px;
              }
            }
          }
        }
      }
    }

    // Tab content
    .tab-pane {

			.tsd-button {
				font-weight: bold;
			}

      // One titled set of settings
      section {
        margin-top: 30px;

        // Title of section
        .tsd-section-title {
          font-size: 26px;
        }

        // Content of section
        .tsd-section-content {
          padding-left: 18px;

          .error {
            color: @error-color;
          }
          .success {
            color: @success-color;
          }

          // Test connection
					.tsd-test-connection-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .tsd-section-panel {
              &.tsd-plugin-status {
                max-width: 40%;
              }
              .tsd-status-line {
                i {
                  margin-right: 8px;
                }

                &.success {
                  color: @success-color;
                }
                &.error {
                  color: @error-color;
                  a {
                    color: @error-color;
                  }
                }

                .tsd-accountPro {
                  color: @primary-color;
                }
              }

              .tsd-test-connection-header {
                margin-top: -24px;
                text-align: center;
                color: @primary-color;
              }

              .tsd-test-connection {
                display: flex;

                .tsd-circle {
                  width: 99px;
                  height: 99px;
                  border-radius: 50%;
                  background-color: @primary-color;
                  color: #fff;
                  font-weight: bold;
                  font-size: 22px;
                  text-align: center;
                  line-height: 100px;
                  border: none;

                  &:hover {
                    opacity: .8;
                  }

                  &:focus {
                    border: none;
                    outline: none;
                  }
                }

                .tsd-test-result {
                  height: 97px;
                  width: 230px;
                  max-width: 70%;
                  padding: 0 0 0 50px;
                  border: @primary-color solid thin;
                  border-left: 0;
                  margin-left: -50px;
                  color: @primary-color;
                  border-radius: 0 10px 10px 0;
                }
              }
            }

            @media screen and (max-width: 700px) {
              flex-direction: column;
              .tsd-form {
                margin-left: 0;
                align-items: flex-start;
              }
            }
					}

					ul {
						font-size: 15px;
            list-style-type: square;

            li {
              margin-bottom: 3px;
            }
					}

          .tsd-rerun-wizard {
            color: #fff;
          }
				}
      }
    }

    @media screen and (max-width: 700px) {
      .tsd-flex {
        flex-direction: column;
      }
    }
  }
}


.tsd-modal {
  &.secondary-modal {
    width: 700px;
    margin-left: -350px;
  }
}
