// TODO: Put your plugin's LESS here, have it generated to ../css.
div[id$=_plugin_thespaghettidetective] {
    .header {
        margin-bottom: 1rem;

        img.logo {
            width: 40px;
            margin-right: 12px;
        }
        h3 {
            border-bottom: gray thin solid;
        }
    }

    h5 {
        margin-bottom: 4px;
    }

    #problems {
        li {
            margin: 0.6em 0;
        }
    }

    .token-input {
        width: calc(100% - 120px);
        margin: 8px 0px 2px;

        button {
            width: 120px;
        }
    }

    .collapse-header {
        margin: 8px 0px;
    }

    .settings-video {
        text-align: center;
    }

    .problems {
        ul {
            margin-top: 8px;
        }
        li {
            line-height: 26px;
        }
    }

    .social-container {
        text-align: center;

        .social-btns {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .social {
                margin: 0 6px;
            }
		}
    }
}


// Wizard content

@wizard-primary-color: #9965F4;
@wizard-error-color: #F22727;
@wizard-text-color: #282828;
@wizard-paragraph-text-size: 14px;
@wizard-container-min-height: 625px;

.wizard-content {
  font-family: 'Roboto', sans-serif;
  padding-right: 18px;
  color: @wizard-text-color;
  overflow: hidden;
  position: relative;

  // Wizards with big logo as a background
  &.bg-logo {
    background-image: url(../img/logo-bg.svg);
    background-repeat: no-repeat;
    background-position: -300px -50px;
    background-size: 600px;

    &.bg-primary {
      background-image: url(../img/logo-bg-dark.svg);
    }
  }

  &.bg-primary {
    background-color: @wizard-primary-color;
    color: #fff;

    .navigation .back-btn {
      color: #fff;
    }
  }

  // Main elements
  p {
    font-size: @wizard-paragraph-text-size;
  }

  ul {
    margin-top: 20px;
    list-style-type: square;
    font-size: 16px;

     li {
       margin-bottom: 4px;
     }

     a {
       color: @wizard-text-color;
     }
  }

  a {
    color: @wizard-primary-color;
    text-decoration: underline;

    &:hover {
      opacity: .8;
    }
  }

  .flex {
    display: flex;

    &.col {
      flex-direction: column;
    }

    &.align-center {
      align-items: center;
    }

    &.justify-center {
      justify-content: center;
    }
  }

  .indent-content {
    padding-left: 40px;
  }

  // Header at the top of each page
  .navigation {
    margin-top: 20px;
    height: 86px;
    display: flex;
    align-items: bottom;
    justify-content: space-between;

    // Back button
    .back-btn {
      text-decoration: none;
      font-size: 18px;
      color: #888;

      &:hover {
        opacity: .8;
        cursor: pointer;
      }

      img {
        width: 10px;
        height: 20px;
      }
    }

    // Small black logo
    .logo {
      text-align: center;

      svg {
        width: 60px;
      }
    }

    // Progress circles at the top right corner
    .progress-content {
      text-align: center;

      .circles {
        font-size: 0;

        .circle {
          width: 16px;
          height: 16px;
          display: inline-block;
          border: 2px solid @wizard-primary-color;
          border-radius: 50%;
          position: relative;
          margin-right: 18px;

          &.filled {
            background-color: @wizard-primary-color;
          }

          &.checked:before {
            content: url("../img/checkmark-half-filled.svg");
            display: inline-block;
            width: 19px;
            height: 15px;
            position: absolute;
            bottom: 40%;
            left: 40%;
          }

          &:after {
            content: "";
            width: 18px;
            height: 2px;
            background-color: @wizard-primary-color;
            position: absolute;
            left: calc(100% + 2px);
            top: calc(50% - 1px);
          }

          &:last-child {
            margin-right: 0;

            &:after {
              content: none;
            }
          }
        }
      }
    }
  }

  // Main style for buttons
  .button {
    background-color: @wizard-primary-color;
    padding: 10px 26px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    display: inline-block;
    margin: 12px 0 6px;
    border: none;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      opacity: .4;

      &:hover {
        opacity: .4;
        cursor: default;
      }
    }
  }

  // Wizard title
  .header {
    margin-top: 30px;

    .title {
      margin: 0;

      &.primary {
        color: @wizard-primary-color;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }

  // Text with checkbox
  .text-with-checkbox {
    padding-left: 22px;
    font-size: 12px;
    position: relative;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    .checkbox-wrapper {
      width: 10px;
      height: 10px;
      border: 1px solid @wizard-primary-color;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 1px;
      margin: auto;

      &.checked:after {
        content: url(../img/checkmark.svg);
        display: block;
        position: absolute;
        width: 15px;
        height: 12px;
        bottom: 4px;
        left: 1px;
      }
    }
  }

  // Features block
  .features {
    margin-top: 50px;

    .feature {
      padding-left: 90px;
      position: relative;
      margin-bottom: 20px;
      max-width: 300px;

      .title {
        font-weight: bold;
        font-size: 14px;
      }

      .description {
        margin: 0;
        margin-top: 4px;
        font-size: 12px;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50px;
        border-radius: 50%;
      }

      &.accent {
        max-width: 100%;

        .title {
          font-size: 18px;
          color: @wizard-primary-color;
        }

        .description {
          font-size: 15px;
          color: @wizard-primary-color;
        }

        img {
          width: 70px;
          left: -15px;
          border: 2px solid @wizard-primary-color;
        }
      }
    }
  }

  // Choice between mobile and web (step 2)
  .choice-container {
    background-color: @wizard-primary-color;
    padding: 18px;

    .choice-banner {
      display: flex;
      justify-content: center;
      align-items: center;

      .delimeter {
        background-color: #fff;
        width: 3px;
        height: 200px;
      }

      .option {
        text-align: center;
        margin: 50px 30px;
        color: #fff;

        .button {
          color: @wizard-primary-color;
          background-color: #fff;

          &.filled {
            color: @wizard-primary-color;
            background-color: #fff;
          }

          &.outline {
            background-color: @wizard-primary-color;
            color: #fff;
            border: 2px solid #fff;
          }
        }
      }

      @media screen and (max-width: 800px) {
        flex-direction: column;

        .delimeter {
          width: 80%;
          height: 3px;
        }
      }
    }
  }

  // Footer notes
  .notes {
    color: #fff;
    text-align: center;

    &.primary {
      background-color: @wizard-primary-color;
      color: #fff;
      margin-top: 60px;
      padding: 18px;
      text-align: center;
    }

    &.text-black {
      color: @wizard-text-color;
    }
  }

  // Setup illustration at the bottom (step 3.1 - mobile)
  .bottom-illustration {
    margin-top: 40px;

    img {
      width: 100%;
    }
  }

  // Small gray link with arrow under title (step 3)
  a.small {
    font-size: 14px;
    color: #9793A0;
    line-height: 14px;
    text-decoration: none;

    &:hover {
      opacity: .8;
    }
  }

  // Big checkmark in the circle (final step)
  .checkmark-circle {
    width: 115px;
    margin-bottom: 20px;
  }

  // List with circled checkmarks markers
  ul.circled-checkmarks {
    font-size: 18px;
    list-style-type: none;

    li {
      margin-bottom: 6px;

      div {
        display: inline-block;
      }

      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }

  // Link to discord at the bottom (final step)
  .discord-link {
    text-decoration: none;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-block;

    img {
      width: 30px;
    }

    .text {
      display: inline-block;
      margin-left: 8px;
      border-bottom: 1px solid #fff;
      font-weight: bold;
    }

    &:hover {
      opacity: .8;

      .text {
        border-bottom: none;
      }
    }
  }

  // Verification code page (step 4)
  .mobile-verification-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: top;

    // Left content - text and input
    .description {
      width: 50%;

      // Input for security code
      .verification-wrapper {
        @input-width: 240px;
        @cell-border-width: 2px;

        margin-top: 90px;

        label {
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }

        .input-wrapper {
          width: @input-width + @cell-border-width * 5;
          height: 20px;
          display: flex;
          border: 2px solid #000;
          border-radius: 10px;
          background-color: #fff;
          overflow: hidden;
          padding: 10px 0;
          position: relative;

          &:hover {
            cursor: text;
          }

          // Imitate input wrapper as one big input
          .front-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          // Cells of input wrapper
          input {
            box-shadow: none;
            width: @input-width / 6;
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 0;
            height: 100%;
            border-right: @cell-border-width solid rgba(#000, .5);
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #000;

            &:focus {
              box-shadow: none;
              outline: none;
            }

            &:last-child {
              border-right: none;
            }
          }
        }

        .error-message, .success-message {
          margin-top: 10px;
          line-height: 1.25;
          display: none;
        }

        &.error {
          .input-wrapper {
            border-color: @wizard-error-color;

            input {
              border-color: rgba(@wizard-error-color, .5);
            }
          }

          .error-message {
            display: block;
            color: @wizard-error-color;
          }
        }

        &.success {
          .input-wrapper {
            border-color: @wizard-primary-color;

            input {
              border-color: rgba(@wizard-primary-color, .5);
            }
          }

          .success-message {
            display: block;
            color: @wizard-primary-color;
          }
        }

        .loader {
          width: @input-width;
          text-align: center;

          svg {
            width: 60px;
            height: 60px;
            display: inline-block;
          }
        }
      }
    }


    // Right content - mobile screen illustration
    .illustration {
      width: 30%;
      position: relative;

      .image {
        display: inline-block;
        margin-top: 30px;
        width: 100%;
      }

      .arrow {
        position: absolute;
        top: 55%;
        right: 85%;
        width: 200px;
        display: block;
        z-index: 12;
      }
    }

    @media screen and (max-width: 900px) {
      .description .verification-wrapper {
        margin-top: 70px;
      }

      .arrow {
        top: 55%;
        right: 85%;
        width: 120px;
      }
    }

    // Hide mobile screen illustration on small screens
    @media screen and (max-width: 800px) {
      .description {
        width: 100%;

        .verification-wrapper {
          margin-top: 40px;
        }
      }

      .illustration {
        display: none;
      }
    }
  }
}
