div[id$=_plugin_thespaghettidetective] .header {
  margin-bottom: 1rem;
}
div[id$=_plugin_thespaghettidetective] .header img.logo {
  width: 40px;
  margin-right: 12px;
}
div[id$=_plugin_thespaghettidetective] .header h3 {
  border-bottom: gray thin solid;
}
div[id$=_plugin_thespaghettidetective] h5 {
  margin-bottom: 4px;
}
div[id$=_plugin_thespaghettidetective] #problems li {
  margin: 0.6em 0;
}
div[id$=_plugin_thespaghettidetective] .token-input {
  width: calc(100% - 120px);
  margin: 8px 0px 2px;
}
div[id$=_plugin_thespaghettidetective] .token-input button {
  width: 120px;
}
div[id$=_plugin_thespaghettidetective] .collapse-header {
  margin: 8px 0px;
}
div[id$=_plugin_thespaghettidetective] .settings-video {
  text-align: center;
}
div[id$=_plugin_thespaghettidetective] .problems ul {
  margin-top: 8px;
}
div[id$=_plugin_thespaghettidetective] .problems li {
  line-height: 26px;
}
div[id$=_plugin_thespaghettidetective] .social-container {
  text-align: center;
}
div[id$=_plugin_thespaghettidetective] .social-container .social-btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
div[id$=_plugin_thespaghettidetective] .social-container .social-btns .social {
  margin: 0 6px;
}
.wizard-content {
  font-family: 'Roboto', sans-serif;
  padding-left: 120px;
  padding-right: 40px;
  max-width: 540px;
  color: #282828;
  min-height: 625px;
  overflow: hidden;
  position: relative;
}
.wizard-content * {
  position: relative;
  z-index: 10;
}
.wizard-content .background {
  width: 600px;
  position: absolute;
  top: 50px;
  right: 58%;
  z-index: 0;
  opacity: 0.3;
}
.wizard-content .progress-wrapper {
  margin-top: 20px;
  text-align: right;
}
.wizard-content .progress-wrapper .progress-content {
  display: inline-block;
  text-align: center;
}
.wizard-content .progress-wrapper .progress-content .circles {
  font-size: 0;
}
.wizard-content .progress-wrapper .progress-content .circles .circle {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid #9965F4;
  border-radius: 50%;
  position: relative;
  margin-right: 18px;
}
.wizard-content .progress-wrapper .progress-content .circles .circle.filled {
  background-color: #9965F4;
}
.wizard-content .progress-wrapper .progress-content .circles .circle:after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #9965F4;
  position: absolute;
  left: calc(100% + 2px);
  top: calc(50% - 1px);
}
.wizard-content .progress-wrapper .progress-content .circles .circle:last-child {
  margin-right: 0;
}
.wizard-content .progress-wrapper .progress-content .circles .circle:last-child:after {
  content: none;
}
.wizard-content .button.setup-wizard {
  background-color: #9965F4;
  padding: 10px 26px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin: 12px 0 6px;
  border: none;
}
.wizard-content .button.setup-wizard:hover {
  opacity: 0.8;
  cursor: pointer;
}
.wizard-content .button.setup-wizard[disabled] {
  opacity: 0.4;
}
.wizard-content .button.setup-wizard[disabled]:hover {
  opacity: 0.4;
  cursor: default;
}
.wizard-content a {
  color: #9965F4;
  text-decoration: underline;
}
.wizard-content a.small {
  color: #282828;
  font-size: 10px;
  text-decoration: none;
}
.wizard-content a.small:hover {
  opacity: 0.8;
}
.wizard-content .header {
  margin-top: 30px;
}
.wizard-content .header .title {
  margin: 0;
}
.wizard-content .header .logo {
  width: 60px;
  position: absolute;
  top: -60px;
  left: 130px;
}
.wizard-content .header .logo svg {
  width: 60px;
}
.wizard-content p {
  font-size: 14px;
}
.wizard-content .text-with-checkbox {
  padding-left: 22px;
  font-size: 12px;
  position: relative;
}
.wizard-content .text-with-checkbox:hover {
  cursor: pointer;
  opacity: 0.8;
}
.wizard-content .text-with-checkbox .checkbox-wrapper {
  width: 10px;
  height: 10px;
  border: 1px solid #9965F4;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 1px;
  margin: auto;
}
.wizard-content .text-with-checkbox .checkbox-wrapper.checked:after {
  content: url(../img/checkmark.svg);
  display: block;
  position: absolute;
  width: 15px;
  height: 12px;
  bottom: 4px;
  left: 1px;
}
.wizard-content .features {
  margin-top: 50px;
}
.wizard-content .features .feature {
  padding-left: 70px;
  position: relative;
  margin-bottom: 20px;
  max-width: 300px;
}
.wizard-content .features .feature .title {
  font-weight: bold;
  font-size: 14px;
}
.wizard-content .features .feature .description {
  margin: 0;
  margin-top: 4px;
  font-size: 12px;
}
.wizard-content .features .feature img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  border: 1px solid #9965F4;
  border-radius: 50%;
}
.wizard-content .features .feature.accent {
  max-width: 100%;
}
.wizard-content .features .feature.accent .title {
  font-size: 18px;
}
.wizard-content .features .feature.accent .description {
  font-size: 15px;
}
.wizard-content .features .feature.accent img {
  width: 60px;
  left: -10px;
}
@media screen and (max-width: 975px) {
  .wizard-content {
    padding-left: 40px;
  }
  .wizard-content .header .logo {
    position: static;
    margin-bottom: 10px;
  }
}
