<div id="thespaghettidetective_error_tracker_modal" class="modal hide fade" data-bind="showTrackerModal:trackerModalVisible" tabindex="-1" role="dialog" style="z-index: 1060;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Having troubles with The Spaghetti Detective?</h5>
      </div>
      <div class="modal-body">
        <div>
            <div data-bind="visible: connectionErrors().server.length > 0">
                <p class="error">The Spaghetti Detective failed to connect to the server <!--ko text: connectionErrors().server.length--><!--/ko--> times since OctoPrint rebooted.</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

